Repository adamconnelly/Thrift.Net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-and-run-tests.yaml, pipelines/lint-docs.yaml

pipelines/build-and-run-tests.yaml:

trigger:
- master

pr:
  branches:
    include:
    - master
  paths:
    include:
    # Only run the pipeline if something in the src folder or this pipeline definition
    # changes to try to avoid running for things like documentation-only changes.
    - 'pipelines/build-and-run-tests.yaml'
    - 'src'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: DotNetCoreCLI@2
  displayName: 'Run Unit Tests'
  inputs:
    command: 'test'
    projects: '$(System.DefaultWorkingDirectory)/src/Thrift.Net.Tests/Thrift.Net.Tests.csproj'
    arguments: '--collect "XPlat Code Coverage"'

- task: PublishCodeCoverageResults@1
  displayName: 'Publish Code Coverage'
  inputs:
    codeCoverageTool: 'cobertura'
    summaryFileLocation: '$(Agent.TempDirectory)/**/coverage.cobertura.xml'
    failIfCoverageEmpty: true

pipelines/lint-docs.yaml:

pr:
  branches:
    include:
    - 'master'
  paths:
    include:
    - '*.md'
    - 'docs/**/*.md'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Npm@1
  displayName: 'Install NPM packages'
  inputs:
    command: 'install'

- task: Npm@1
  displayName: 'Run markdownlint'
  inputs:
    command: 'custom'
    customCommand: 'run --silent lint:markdown'

ci: treat warnings as errors
  pipelines/build-and-run-tests.yaml
Due: pipelines/build-and-run-tests.yaml

refactor(compiler): create BaseTypeBinder
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/BaseTypeBinder.cs
  src/Thrift.Net.Compilation/Binding/FieldTypeBinder.cs
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Compilation/Symbols/FieldType.cs
  src/Thrift.Net.Compilation/Symbols/IFieldType.cs
  src/Thrift.Net.Tests/Compilation/Binding/BaseTypeBinder/BaseTypeBinderTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/BaseType/BaseTypeTests.cs
Due: pipelines/build-and-run-tests.yaml

refactor(compiler): create UserTypeBinder
  src/Thrift.Net.Compilation/Binding/UserTypeBinder.cs
  src/Thrift.Net.Compilation/Symbols/Builders/UserTypeBuilder.cs
  src/Thrift.Net.Compilation/Symbols/Document.cs
  src/Thrift.Net.Compilation/Symbols/Enum.cs
  src/Thrift.Net.Compilation/Symbols/IDocument.cs
  src/Thrift.Net.Compilation/Symbols/IEnum.cs
  src/Thrift.Net.Compilation/Symbols/INamedTypeSymbol.cs
  src/Thrift.Net.Compilation/Symbols/IStruct.cs
  src/Thrift.Net.Compilation/Symbols/ISymbol.cs
  src/Thrift.Net.Compilation/Symbols/IUnresolvedType.cs
  src/Thrift.Net.Compilation/Symbols/IUserType.cs
  src/Thrift.Net.Compilation/Symbols/Struct.cs
  src/Thrift.Net.Compilation/Symbols/Symbol.cs
  src/Thrift.Net.Compilation/Symbols/UnresolvedType.cs
  src/Thrift.Net.Compilation/Symbols/UserType.cs
  src/Thrift.Net.Tests/Compilation/Binding/UserTypeBinder/UserTypeBinderTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/UserType/CSharpOptionalTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/UserType/CSharpRequiredTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/UserType/IsEnumTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/UserType/IsResolvedTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/UserType/IsStructTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/UserType/NameTests.cs
Due: pipelines/build-and-run-tests.yaml

refactor(compiler): hook up new binders
  src/Thrift.Net.Compilation/Binding/BinderProvider.cs
  src/Thrift.Net.Compilation/Binding/FieldTypeBinder.cs
  src/Thrift.Net.Compilation/Binding/UserTypeBinder.cs
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Compilation/Symbols/Document.cs
  src/Thrift.Net.Compilation/Symbols/Field.cs
  src/Thrift.Net.Compilation/Symbols/FieldType.cs
  src/Thrift.Net.Compilation/Symbols/IBaseType.cs
  src/Thrift.Net.Compilation/Symbols/IField.cs
  src/Thrift.Net.Compilation/Symbols/IFieldType.cs
  src/Thrift.Net.Compilation/Symbols/ISymbol.cs
  src/Thrift.Net.Compilation/Symbols/Symbol.cs
  src/Thrift.Net.Compilation/Symbols/UserType.cs
  src/Thrift.Net.Compilation/ThriftTypeGenerationInfo.cs
  src/Thrift.Net.Tests/Compilation/Binding/FieldBinder/FieldTypeTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/FieldTypeBinder/FieldTypeBinderTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/UserTypeBinder/UserTypeBinderTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Document/ResolveTypeTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/UserType/CSharpOptionalTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftDocumentGenerator/StructGeneration/BasicTests.cs
  thrift-samples/structs/User.thrift
Due: pipelines/build-and-run-tests.yaml

feat(compiler): add support for lists
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/BaseTypeBinder.cs
  src/Thrift.Net.Compilation/Binding/BinderProvider.cs
  src/Thrift.Net.Compilation/Binding/FieldTypeBinder.cs
  src/Thrift.Net.Compilation/Binding/ListTypeBinder.cs
  src/Thrift.Net.Compilation/Binding/UserTypeBinder.cs
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Compilation/Symbols/Builders/ListTypeBuilder.cs
  src/Thrift.Net.Compilation/Symbols/Builders/UserTypeBuilder.cs
  src/Thrift.Net.Compilation/Symbols/IFieldType.cs
  src/Thrift.Net.Compilation/Symbols/IListType.cs
  src/Thrift.Net.Compilation/Symbols/IUserType.cs
  src/Thrift.Net.Compilation/Symbols/ListType.cs
  src/Thrift.Net.Compilation/Symbols/UserType.cs
  src/Thrift.Net.Compilation/Templates/csharp.stg
  src/Thrift.Net.Tests/Compilation/Binding/FieldTypeBinder/FieldTypeBinderTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/CSharpOptionalTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/CSharpRequiredTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/NameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/NestingDepthTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructParsingTests.cs
  thrift-samples/collections.thrift
Due: pipelines/build-and-run-tests.yaml

fix(compiler): ignore IsSet for required fields
  src/Thrift.Net.Compilation/Templates/csharp.stg
Due: pipelines/build-and-run-tests.yaml

feat(compiler): list element type missing error
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/CompilerMessageId.cs
  src/Thrift.Net.Compilation/Resources/CompilerMessages.resx
  src/Thrift.Net.Compilation/Symbols/Field.cs
  src/Thrift.Net.Compilation/Symbols/IListType.cs
  src/Thrift.Net.Compilation/Symbols/ISymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/ListType.cs
  src/Thrift.Net.Compilation/Symbols/SymbolVisitor.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructErrorTests.cs
Due: pipelines/build-and-run-tests.yaml

feat(compiler): list element type unresolved error
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/Symbols/ISymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/SymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/UserType.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructErrorTests.cs
Due: pipelines/build-and-run-tests.yaml

chore(docs): fix branch for build status badge
  README.md
Due: pipelines/lint-docs.yaml

feat(compiler): add support for sets
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/BinderProvider.cs
  src/Thrift.Net.Compilation/Binding/FieldTypeBinder.cs
  src/Thrift.Net.Compilation/Binding/SetTypeBinder.cs
  src/Thrift.Net.Compilation/Symbols/Builders/SetTypeBuilder.cs
  src/Thrift.Net.Compilation/Symbols/ICollectionType.cs
  src/Thrift.Net.Compilation/Symbols/ISetType.cs
  src/Thrift.Net.Compilation/Symbols/SetType.cs
  src/Thrift.Net.Compilation/Templates/csharp.stg
  src/Thrift.Net.Tests/Compilation/Binding/FieldTypeBinder/FieldTypeBinderTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/CSharpOptionalTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/CSharpRequiredTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/NameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/NestingDepthTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructParsingTests.cs
  thrift-samples/collections.thrift
Due: pipelines/build-and-run-tests.yaml

feat(compiler): error for set element type missing
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/CompilerMessageId.cs
  src/Thrift.Net.Compilation/Resources/CompilerMessages.resx
  src/Thrift.Net.Compilation/Symbols/ISymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/SetType.cs
  src/Thrift.Net.Compilation/Symbols/SymbolVisitor.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructErrorTests.cs
Due: pipelines/build-and-run-tests.yaml

refactor(compiler): reorganise template
  src/Thrift.Net.Compilation/Templates/csharp.stg
Due: pipelines/build-and-run-tests.yaml

refactor(compiler): add base collection type class
  src/Thrift.Net.Compilation/Symbols/CollectionType.cs
  src/Thrift.Net.Compilation/Symbols/ICollectionType.cs
  src/Thrift.Net.Compilation/Symbols/IListType.cs
  src/Thrift.Net.Compilation/Symbols/ISetType.cs
  src/Thrift.Net.Compilation/Symbols/ListType.cs
  src/Thrift.Net.Compilation/Symbols/SetType.cs
  src/Thrift.Net.Tests/Compilation/Symbols/CollectionType/CSharpOptionalTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/CollectionType/CSharpRequiredTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/CollectionType/CollectionTypeTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/CollectionType/NameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/CSharpOptionalTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/CSharpRequiredTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/ListCollectionTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/NameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/CSharpOptionalTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/CSharpRequiredTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/NameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/SetCollectionTests.cs
Due: pipelines/build-and-run-tests.yaml

fix(compiler): report error for field Id of `0`
  README.md
  docs/compilation.md
  src/Thrift.Net.Compilation/Binding/FieldBinder.cs
  src/Thrift.Net.Compilation/Resources/CompilerMessages.resx
  src/Thrift.Net.Tests/Compilation/Binding/FieldBinder/FieldIdTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/CommentTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructErrorTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftDocumentGenerator/StructGeneration/IsSetTests.cs
Due: pipelines/build-and-run-tests.yaml, pipelines/lint-docs.yaml

feat(compiler): generate Equals and GetHashCode
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Compilation/Symbols/CollectionType.cs
  src/Thrift.Net.Compilation/Symbols/IFieldType.cs
  src/Thrift.Net.Compilation/Symbols/UserType.cs
  src/Thrift.Net.Compilation/Templates/csharp.stg
  thrift-samples/structs/User.thrift
Due: pipelines/build-and-run-tests.yaml

docs: add testing label
  docs/CONTRIBUTING.md
Due: pipelines/lint-docs.yaml

ci: switch from master branch to main
  README.md
  docs/CONTRIBUTING.md
  pipelines/build-and-run-tests.yaml
  pipelines/lint.yaml
Due: pipelines/build-and-run-tests.yaml, pipelines/lint-docs.yaml

feat(compiler): add support for maps
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/BinderProvider.cs
  src/Thrift.Net.Compilation/Binding/FieldTypeBinder.cs
  src/Thrift.Net.Compilation/Binding/MapTypeBinder.cs
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Compilation/Symbols/Builders/MapTypeBuilder.cs
  src/Thrift.Net.Compilation/Symbols/CollectionType.cs
  src/Thrift.Net.Compilation/Symbols/ICollectionType.cs
  src/Thrift.Net.Compilation/Symbols/IFieldType.cs
  src/Thrift.Net.Compilation/Symbols/IListType.cs
  src/Thrift.Net.Compilation/Symbols/IMapType.cs
  src/Thrift.Net.Compilation/Symbols/ISetType.cs
  src/Thrift.Net.Compilation/Symbols/ListType.cs
  src/Thrift.Net.Compilation/Symbols/MapType.cs
  src/Thrift.Net.Compilation/Symbols/SetType.cs
  src/Thrift.Net.Compilation/Symbols/UserType.cs
  src/Thrift.Net.Compilation/Templates/csharp.stg
  src/Thrift.Net.Tests/Compilation/Binding/FieldTypeBinder/FieldTypeBinderTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/MapType/CSharpOptionalTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/MapType/CSharpRequiredTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/MapType/NameTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructParsingTests.cs
  thrift-samples/collections.thrift
  thrift-samples/structs/User.thrift
Due: pipelines/build-and-run-tests.yaml

feat(compiler): error if map types not supplied
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/CompilerMessageId.cs
  src/Thrift.Net.Compilation/Resources/CompilerMessages.resx
  src/Thrift.Net.Compilation/Symbols/ISymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/MapType.cs
  src/Thrift.Net.Compilation/Symbols/SymbolVisitor.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructErrorTests.cs
Due: pipelines/build-and-run-tests.yaml

refactor(compiler): fix CollectionType inheritance
  src/Thrift.Net.Compilation/Symbols/CollectionType.cs
  src/Thrift.Net.Compilation/Symbols/IListOrSetType.cs
  src/Thrift.Net.Compilation/Symbols/IListType.cs
  src/Thrift.Net.Compilation/Symbols/ISetType.cs
  src/Thrift.Net.Compilation/Symbols/ListOrSetType.cs
  src/Thrift.Net.Compilation/Symbols/ListType.cs
  src/Thrift.Net.Compilation/Symbols/MapType.cs
  src/Thrift.Net.Compilation/Symbols/SetType.cs
  src/Thrift.Net.Tests/Compilation/Symbols/CollectionType/CSharpRequiredTypeNameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/CollectionType/NameTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/ListType/ListCollectionTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/SetType/SetCollectionTests.cs
Due: pipelines/build-and-run-tests.yaml

docs: initial benchmarking strategy
  docs/benchmarking.md
Due: pipelines/lint-docs.yaml

ci: fix source branch sha for commitlint
  pipelines/lint.yaml
Due: none

ci: customise code coverage
  pipelines/build-and-run-tests.yaml
  src/Thrift.Net.Tests/Thrift.Net.Tests.csproj
  src/Thrift.Net.Tests/Thrift.Net.Tests.runsettings
Due: pipelines/build-and-run-tests.yaml

feat(compiler): catching unhandled exceptions
  issue_template.md
  src/Thrift.Net.Compiler/ExitCode.cs
  src/Thrift.Net.Compiler/Program.cs
Due: pipelines/build-and-run-tests.yaml, pipelines/lint-docs.yaml

feat(compiler): add union parsing
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/BinderProvider.cs
  src/Thrift.Net.Compilation/Binding/FieldBinder.cs
  src/Thrift.Net.Compilation/Binding/IFieldContainerBinder.cs
  src/Thrift.Net.Compilation/Binding/UnionBinder.cs
  src/Thrift.Net.Compilation/Symbols/Builders/FieldBuilder.cs
  src/Thrift.Net.Compilation/Symbols/Builders/UnionBuilder.cs
  src/Thrift.Net.Compilation/Symbols/Document.cs
  src/Thrift.Net.Compilation/Symbols/Field.cs
  src/Thrift.Net.Compilation/Symbols/FieldContainerExtensions.cs
  src/Thrift.Net.Compilation/Symbols/IDocument.cs
  src/Thrift.Net.Compilation/Symbols/IField.cs
  src/Thrift.Net.Compilation/Symbols/IFieldContainer.cs
  src/Thrift.Net.Compilation/Symbols/IStruct.cs
  src/Thrift.Net.Compilation/Symbols/IUnion.cs
  src/Thrift.Net.Compilation/Symbols/Struct.cs
  src/Thrift.Net.Compilation/Symbols/Union.cs
  src/Thrift.Net.Tests/Compilation/Binding/FieldBinder/FieldIdTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/FieldBinder/FieldTypeTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/FieldBinder/IdentifierTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/FieldBinder/RequirednessTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/UnionBinder/IdentifierTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Document/DocumentTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Document/UnionTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/FieldContainerExtensions/FieldContainerExtensionsTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/FieldContainerExtensions/IsFieldIdAlreadyDefinedTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/FieldContainerExtensions/IsFieldNameAlreadyDefinedTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Union/FieldTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Union/OptionalFieldTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Union/UnionTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/UnionParsingTests.cs
  thrift-samples/unions/JobScheduler.thrift
  thrift-samples/unions/empty.thrift
  thrift-samples/unions/errors.thrift
Due: pipelines/build-and-run-tests.yaml

refactor(tests): pull out field compilation tests
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/FieldErrorTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/FieldWarningTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructErrorTests.cs
Due: pipelines/build-and-run-tests.yaml

feat(compiler): add union errors
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/CompilerMessageId.cs
  src/Thrift.Net.Compilation/Resources/CompilerMessages.resx
  src/Thrift.Net.Compilation/Symbols/Document.cs
  src/Thrift.Net.Compilation/Symbols/ISymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/SymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/Union.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Document/AllTypesTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/UnionErrorTests.cs
  thrift-samples/unions/errors.thrift
Due: pipelines/build-and-run-tests.yaml

feat(compiler): add ability to generate unions
  src/Thrift.Net.Compilation/Templates/csharp.stg
Due: pipelines/build-and-run-tests.yaml

ci: fix code coverage publishing
  pipelines/build-and-run-tests.yaml
Due: pipelines/build-and-run-tests.yaml

docs: add testing documentation
  docs/CONTRIBUTING.md
  docs/testing.md
Due: pipelines/lint-docs.yaml

ci: stop pinning code coverage version
  pipelines/build-and-run-tests.yaml
Due: pipelines/build-and-run-tests.yaml

ci: add CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: none

ci: add lgtm config
  lgtm.yml
Due: none

fix: solve LGTM alerts
  README.md
  src/Thrift.Net.Compilation/Symbols/Document.cs
  src/Thrift.Net.Compiler/Program.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/ThriftCompilerTests.cs
  src/Thrift.Net.Tests/Utility/ParserInput.cs
Due: pipelines/build-and-run-tests.yaml, pipelines/lint-docs.yaml

fix(docs): fix test and coverage badge links
  README.md
Due: pipelines/lint-docs.yaml

fix(compiler): verify required fields are set
  src/Thrift.Net.Compilation/Symbols/IFieldContainer.cs
  src/Thrift.Net.Compilation/Symbols/Struct.cs
  src/Thrift.Net.Compilation/Symbols/Union.cs
  src/Thrift.Net.Compilation/Templates/csharp.stg
Due: pipelines/build-and-run-tests.yaml

chore: configure dependabot
  .github/dependabot.yml
Due: none
